
body {
    min-width: 720px;
}
@media (min-width: 1281px) and (max-width: 2500px) {
body {
    margin: 0;
    background-color: #F6F9FA;
}
header, footer {
    position: relative;
    background-color: #2A8086;
    height: 110px;
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 34.8387px;
    line-height: 41px;
    color: #0D444D;
    z-index: 1;
    box-shadow: 5px 0px 10px #277979;
}
footer {
    box-shadow: 0px 0px 0px #277979;
    height: 130px;
}
.index {
    text-decoration: none;
    color: #0D444D;
}
nav {
    display: flex;
    align-content: center;
    align-items: center;
}
.header-left, .footer-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 11.4%;
}
.header-logo {
    margin-right: 5.3px;
}
.header-right, .footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 72px;
}
.btn a, .my-link a {
    background: #2A8088;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #C5E1E6;
    white-space: nowrap;
    min-width: fit-content;
    margin-left: 53.2px;
}
.btn--active {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
.searching {
    margin-right: 19px;
}
.btn--log-and-sign a {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 21px;
    margin-left: 23px;
}
.btn--framed {
    border-radius: 100px;
    border: 1px solid #C5E1E6;
    padding: 14px;
}
a {
    text-decoration: none;
}
.background {
    background-image: url(/static/Figure1.svg);
    width:auto;
    height: 795px;
    background-repeat: no-repeat;
    max-width: 3840px;
    min-width: 939px;
    display: flex;
    flex-direction: row;
}
.title {
    display: flex;
    flex-direction: column;
    margin-left: 11.5%;
}
h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    color: #F3F7F8;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding-top: 103px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.bold {
    line-height: 75px;
    font-size: 64px;
    font-weight: 500;
}
.description {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 27px;
    margin-bottom: 87px;
    color: #F3F7F8;
    max-width: 480px;
}
.btn--watch {
    display: flex;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #0D444D;
    border-radius: 100px;
    box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 84px;
    padding-right: 84px;
    background-color: #FFFFFF;
    max-width: fit-content;
}
.play {
    margin-left: 61px;
    margin-top: 68px;
}
.panda {
    background-image: url(./static/Panda.svg);
    background-repeat: no-repeat;
    width: 803.93px;
    height: 666px;
    margin-top: 48px;
    margin-left: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 23.5px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
    margin-top: -67px;
    margin-bottom: 0;
    margin-left: 11.55%;
}
.how-it-works {
    display: flex;
    justify-content: center;
    margin-top: 84px;
    margin-right: 8%;;
    margin-left: 8.5%;
    max-width: 1920px;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 88px;
    max-width: 1920px;
    min-width: 1350px;
    margin-right: 2.5px;
}
.texted-bubble {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 49px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #0D444D;
    margin-right: 53px;
    margin-left: 53px;
    width: 1368px;
}
figcaption {
    line-height: 10px;
    margin-left: 6px;
}
.illustrations {
    background-image: url( ./static/Illustrations.svg);
    background-repeat: no-repeat;
    margin-bottom: 145px;
    width: auto;
    height: 540px;
}
.btn--favorite {
    border-radius: 100px;
    border: 1px solid #19707D;
    padding: 13px;
    padding-right: 19px;
    padding-left: 20px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #19707D;
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-left: 72%;
    margin-top: -38px;
}
.heart {
    margin-right: 18px;
}
.pets-in-zoo {
    margin-top: 65px;
    margin-bottom: 60px;
    margin-left: 11.55%;
    margin-right: 11.55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #2D2D2D;
    background-color: #C5E1E6 ;
    border-radius: 25px;
}
.animals-mini {
    margin-bottom: 30px;
}
}
@media (min-width: 0px) and (max-width: 1280px) {
    body {
        margin: 0;
        background-color: #F6F9FA;
    }
    header, footer {
        position: relative;
        background-color: #2A8086;
        height: 110px;
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        align-items: center;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 34.8387px;
        line-height: 41px;
        color: #0D444D;
        z-index: 1;
        box-shadow: 5px 0px 10px #277979;
    }
    footer {
        box-shadow: 0px 0px 0px #277979;
        height: 130px;
    }
    nav {
        display: flex;
        align-content: center;
        align-items: center;
    }
    .header-left, .footer-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 11.4%;
    }
    .header-logo {
        margin-right: 5.3px;
    }
    .header-right, .footer-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 72px;
    }
    .btn a, .my-link a {
        background: #2A8088;
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: #C5E1E6;
        white-space: nowrap;
        min-width: fit-content;
        margin-left: 53.2px;
    }
    .btn--active {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
    }
    .searching {
        margin-right: 19px;
    }
    .btn--log-and-sign a {
        font-family: 'Roboto';
        font-weight: 400;
        line-height: 21px;
        margin-left: 23px;
    }
    .btn--framed {
        border-radius: 100px;
        border: 1px solid #C5E1E6;
        padding: 14px;
    }
    a {
        text-decoration: none;
    }
    .background {
        background-image: url(./static/Figure1.svg);
        width: auto;
        height: 795px;
        background-repeat: no-repeat;
        max-width: 3840px;
        display: flex;
        flex-direction: row;
    }
    .title {
        display: flex;
        flex-direction: column;
        margin-left: 11.5%;
    }
    h1 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 55px;
        line-height: 85px;
        color: #F3F7F8;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        padding-top: 103px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .bold {
        line-height: 75px;
        font-size: 55px;
        font-weight: 500;
    }
    .description {
        display: flex;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-top: 27px;
        margin-bottom: 87px;
        color: #F3F7F8;
        max-width: 480px;
    }
    .btn--watch {
        display: flex;
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #0D444D;
        border-radius: 100px;
        box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 84px;
        padding-right: 84px;
        background-color: #FFFFFF;
        max-width: fit-content;
    }
    .play {
        margin-left: 61px;
        margin-top: 68px;
    }
    .panda {
        background-image: url(./static/Pandaminipng.png);
        background-repeat: no-repeat;
        width: 559.65px;
        height: 463.63px;
        margin-top: 100px;
        margin-left: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 23.5px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0D444D;
        margin-top: -67px;
        margin-bottom: 0;
        margin-left: 11.55%;
    }
    .how-it-works {
        display: flex;
        justify-content: center;
        margin-top: 84px;
        margin-right: 8%;;
        margin-left: 8.5%;
        max-width: 1920px;
    }
    .icons {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 88px;
        max-width: 1920px;
        min-width: 800px;
        margin-right: 2.5px;
    }
    .texted-bubble {
        display: flex;
        flex-direction: row;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 49px;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        color: #0D444D;
        margin-right: 53px;
        margin-left: 53px;
        width: 1368px;
    }
    figcaption {
        line-height: 1.5;
        margin-left: 6px;
    }
    .illustrations {
        background-image: url( ./static/Illustrations.svg);
        background-repeat: no-repeat;
        margin-bottom: 145px;
        width: auto;
        height: 540px;
    }
    .btn--favorite {
        border-radius: 100px;
        border: 1px solid #19707D;
        padding: 13px;
        padding-right: 19px;
        padding-left: 20px;
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #19707D;
        display: flex;
        align-items: center;
        max-width: fit-content;
        margin-left: 62%;
        margin-top: -38px;
    }
    .heart {
        margin-right: 18px;
    }
    .pets-in-zoo {
        margin-top: 65px;
        margin-bottom: 60px;
        margin-left: 11.55%;
        margin-right: 11.55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #2D2D2D;
        background-color: #C5E1E6 ;
        border-radius: 25px;
    }
    .animals-mini {
        margin-bottom: 30px;
    }
}
.animals-figcaption {
    margin-left: 70px;
}
